<div style="text-align: center;">
    <p><strong>验证您的「{{site}}」账号：【用于{{function}}】</strong></p>
    <a href="{{domain}}/auth?type={{type}}&token={{token}}">{{domain}}/auth?type=register&token={{token}}</a>
</div>