{{ define "center/dashboard.tmpl" }} {{ template "block/frame.tmpl" .}}

<div class="mdui-container"> <br />

    <div class="mdui-card">
        <div class="mdui-card-header">
            <img class="mdui-card-header-avatar" src="https://cravatar.cn/avatar/{{.ImageHash}}" />
            <div class="mdui-card-header-title">{{.Username}} {{if .IsAdmin}}<span class="mdui-text-color-theme-accent">【管理员】</span>{{end}}</div>
            <div class="mdui-card-header-subtitle">您当前有 {{.OnlineServerNumber}} 个服务正在运行！</div>
        </div>
        <div class="mdui-card-actions">
            <button class="mdui-btn mdui-ripple">购置服务</button>
            <button class="mdui-btn mdui-ripple">账号登出</button>
        </div>
    </div><br/>

    <div class="mdui-card">
        <div class="mdui-card-content" id="hitokoto">
            <!-- 「YuKun-Liu」：好文即将赶来！ -->
        </div>
        <script>
            $.ajax({
                method: "get",
                dataType: "json",
                url: "https://v1.hitokoto.cn/?c=i",
                success: function(data) {
                    $("#hitokoto").text("「" + data.from + "」：" + data.hitokoto)
                }
            })
        </script>
    </div><br/>

    <div class="mdui-card">
        <div class="mdui-card-content">
            <div class="mdui-table-fluid">
                <table class="mdui-table">
                    <tbody>
                        <tr>
                            <td>用户邮箱</td>
                            <td>{{.UserInfo.Email}}</td>
                        </tr>
                        <tr>
                            <td>注册日期</td>
                            <td id="reg-datetime"></td>
                            <script>
                                var meta = parseInt("{{.UserInfo.Regtime}}");
                                var date = new Date(meta);

                                Y = date.getFullYear() + '年';
                                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '月';
                                D = date.getDate() + '日';
                                $("#reg-datetime").text(Y + M + D);
                            </script>
                        </tr>
                        <tr>
                            <td>123</td>
                            <td>@twitt123er</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{{ template "block/end.tmpl" .}} {{ end }}