{{ define "center/dashboard.tmpl" }} {{ template "block/frame.tmpl" .}}

<div class="mdui-container"> <br />

    <div class="mdui-card">
        <div class="mdui-card-header">
            <img class="mdui-card-header-avatar" src="https://www.gravatar.com/avatar/{{.ImageHash}}" />
            <div class="mdui-card-header-title">{{.Username}} </div>
            <div class="mdui-card-header-subtitle">您当前有 {{.OnlineServerNumber}} 个服务正在运行！</div>
        </div>
        <div class="mdui-card-actions">
            <button class="mdui-btn mdui-ripple">购置服务</button>
            <button class="mdui-btn mdui-ripple">在线客服</button>
            <button class="mdui-btn mdui-ripple">账号登出</button>
        </div>
    </div><br/>

    <div class="mdui-card">
        <div class="mdui-card-content" id="hitokoto">
            <!-- 「YuKun-Liu」：好文即将赶来！ -->
        </div>
        <script>
            $.ajax({
                method: "get",
                dataType: "json",
                url: "https://v1.hitokoto.cn/?c=i",
                success: function(data) {
                    $("#hitokoto").text("「" + data.from + "」：" + data.hitokoto)
                }
            })
        </script>
    </div>

</div>

{{ template "block/end.tmpl" .}} {{ end }}