{{ define "admin/users.tmpl" }} {{ template "block/frame.tmpl" .}}
<div class="mdui-container"> <br />

    <div class="mdui-card">
        <div class="mdui-card-content">用户管理：点击用户 <strong>MCSM-ID</strong> 编辑单个用户，多选可进行批量操作。</div>
    </div><br/>

    <div class="mdui-table-fluid">
        <table class="mdui-table mdui-table-selectable">
            <thead>
                <tr>
                    <th>MCSM-ID</th>
                    <th class="mdui-table-col-numeric">用户名称</th>
                    <th class="mdui-table-col-numeric">绑定邮箱</th>
                    <th class="mdui-table-col-numeric">注册时间</th>
                    <th class="mdui-table-col-numeric">账号状态</th>
                    <th class="mdui-table-col-numeric">InitAcc</th>
                </tr>
            </thead>
            <tbody>
                {{range .UserList}}
                <tr>
                    <td><a href="">{{.Mcsmid}}</a></td>
                    <td>{{.Username}}</td>
                    <td>{{.Email}}</td>
                    <td id="{{.Id}}-regdate"></td>
                    <script>
                        var meta = parseInt("{{.Regtime}}");
                        var date = new Date(meta);

                        Y = date.getFullYear() + '年';
                        M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '月';
                        D = date.getDate() + '日';
                        $("#{{.Id}}-regdate").text(Y + M + D);
                    </script>
                    <td id="{{.Id}}-status"></td>
                    <script>
                        var meta = "{{.Level}}"
                        var data = "未激活"
                        if (meta == "0") {
                            data = "未激活"
                        } else if (meta == "1") {
                            data = "普通用户"
                        } else if (meta == "2") {
                            data = "管理员"
                        }
                        $("#{{.Id}}-status").text(data);
                    </script>
                    <td>{{if .Initacc}}已激活{{else}}未激活{{end}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div><br/>

    <div style="text-align: center;">
        <div class="mdui-btn-group">
            <button type="button" class="mdui-btn" id="before-page" {{if .MinPage}}disabled{{end}}>
                <i class="mdui-icon material-icons">navigate_before</i>
            </button>
            <button type="button" class="mdui-btn mdui-btn-active" disabled>
              {{.NowPage}}页
            </button>
            <button type="button" class="mdui-btn" id="next-page">
                <i class="mdui-icon material-icons">navigate_next</i>
            </button>
        </div>
        <script>
            var nowPage = parseInt("{{.NowPage}}");
            $("#before-page").on("click", function() {
                location = "?userPage=" + (nowPage - 1);
            })
            $("#next-page").on("click", function() {
                location = "?userPage=" + (nowPage + 1);
            })
        </script>
    </div>

</div>
{{ template "block/end.tmpl" .}} {{ end }}