{{ define "account/login.tmpl" }}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} | Sigin In</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/css/mdui.min.css" rel="stylesheet" />
</head>

<body class="mdui-color-blue-grey-50">


    <div class="mdui-container"><br />
        <div class="mdui-card">

            <!-- 卡片的标题和副标题 -->
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">登录 | <a href="/">🌆</a></div>
            </div>

            <!-- 卡片的内容 -->
            <div class="mdui-card-content">

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">用户邮箱</label>
                    <input class="mdui-textfield-input" type="email" id="email" />
                </div>
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">用户密码</label>
                    <input class="mdui-textfield-input" type="password" id="password" />
                </div>

                <div style="float: right;">
                    <a href="/register">立刻注册</a> 或
                    <a href="/resetpwd">找回账号</a>
                </div>

                <button class="mdui-btn mdui-btn-block mdui-ripple mdui-color-indigo" id="sign-in">
                    登录
                </button>
            </div>

        </div><br />
        <div class="mdui-card">
            <!-- 卡片的内容 -->
            <div class="mdui-card-content" style="text-align:center;">
                Powered By <a href="https://mrxzx.info/">mrxzx.info</a>
            </div>

        </div>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/js/mdui.min.js"></script>

    <script>
        console.log("这是一个前端UI废物做的页面qwq - mrxzx.info")

        $("#sign-in").click(function() {

            let email = $("#email").val()
            let password = $("#password").val()

            if (email === "" || password === "") {
                return;
            }

            $.ajax("/api/login",{
                type: "POST",
                data: {
                    email: email,
                    password: password,
                },
                success: function(res, status) {
                    mdui.alert("登录成功，将在几秒后自动跳转到个人主页！","登录")
                    setTimeout(function (){
                        window.location = "/center/?from=login"
                    }, 2000)
                },
                error: function() {
                    mdui.alert("登录失败，请检查用户信息后重试。","登录")
                }
            })

        })

    </script>

</body>

</html>

{{ end }}