{{ define "block/frame.tmpl" }}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}} | Index</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/css/mdui.min.css" rel="stylesheet" />
</head>

<body class="
      mdui-drawer-body-left
      mdui-appbar-with-toolbar
      mdui-theme-accent-pink
      mdui-loaded
      mdui-theme-primary-indigo
      mdui-theme-layout-auto
    ">

    <header class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="#" class="mdui-btn mdui-btn-icon" id="sidebar-control">
                <i class="mdui-icon material-icons">menu</i>
            </a>
            <span>{{.Title}}</span>

            <div class="mdui-toolbar-spacer"></div>

            <a href="#" class="mdui-btn">个人中心</a>
        </div>
    </header>

    <!-- 侧边栏 -->
    <div class="mdui-drawer" id="drawer">
        <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple {{if .AcDashboard}}mdui-list-item-active{{end}}" onclick="location = 'dashboard'">
                <i class="mdui-list-item-icon mdui-icon material-icons">devices</i>
                <div class="mdui-list-item-content">控制台</div>
            </li>
            <li class="mdui-list-item mdui-ripple {{if .AcServer}}mdui-list-item-active{{end}}" onclick="location = 'list'">
                <i class="mdui-list-item-icon mdui-icon material-icons">computer</i>
                <div class="mdui-list-item-content">服务器</div>
            </li>
            <li class="mdui-list-item mdui-ripple {{if .AcDiscuss}}mdui-list-item-active{{end}}" onclick="location = 'discuss'">
                <i class="mdui-list-item-icon mdui-icon material-icons">send</i>
                <div class="mdui-list-item-content">讨论区</div>
            </li>
            <li class="mdui-subheader">官方服务</li>
            <li class="mdui-list-item mdui-ripple {{if .AcReport}}mdui-list-item-active{{end}}" onclick="location = 'report'">
                <i class="mdui-list-item-icon mdui-icon material-icons">error</i>
                <div class="mdui-list-item-content">问题反馈</div>
            </li>
        </ul>
    </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/mdui/1.0.2/js/mdui.min.js"></script>
    <script>
        var sidebar = {
            object: new mdui.Drawer('#drawer'),
            status: true,
        }


        // 控制 sidebar 开关
        $("#sidebar-control").click(function() {
            if (sidebar.status) {
                sidebar.status = false;
                sidebar.object.close();
            } else {
                sidebar.status = true;
                sidebar.object.open();
            }
        })
    </script>
    {{ end }}